* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/**Header*/
.container-fluid {
  margin-top: 50px;
}

.col-5 {
  width: 44.666667%;
}
